{% extends "html/includes/layout.njk" %}
{% block content %}
    <div class="o-page is-active" aria-hidden="false">
        <header class="c-header">
            <h1 class="c-heading-1">Horários Tejo</h1>
        </header>
        <main class="o-main">
            <h2>Esta página não existe.</h2>
            <a href="/" class="c-button">Ir para a página principal.</a>
        </main>
    </div>
{% endblock %}