<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="utf-8" />
    <title>Horários tejo</title>
    <meta name="Description" content="Author: esaramago, Category: Schedule">
    <!--<link rel="alternate" href="horariostejo.firebaseapp.com" hreflang="pt" />-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#0077CC">
    <meta name="msapplication-TileColor" content="#0077CC">

    <link rel="manifest" href="manifest.json">

    <!-- icons -->
    <meta name="msapplication-TileImage" content="img/icon-192x192.png">
    <link rel="icon" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" sizes="96x96" href="img/icon-96x96.png">
    <link rel="icon" sizes="192x192" href="img/icon-192x192.png">
    <link rel="icon" sizes="512x512" href="img/icon-512x512.png">

    <link rel="stylesheet" href="css/base.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118029889-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-118029889-1');
    </script>-->
</head>

<body data-page-id="{{id}}">
    <div class="o-wrapper">
        {% block content %} {% endblock %}
    </div>
    
    <link rel="stylesheet" href="css/components.hidden.css" />
    <link rel="stylesheet" href="css/utilities.css" />

    <!--<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDleWqIgM6I9AtxjAvztwb1ToG0DfrcoQk",
            authDomain: "horariostejo.firebaseapp.com",
            databaseURL: "https://horariostejo.firebaseio.com",
            projectId: "horariostejo",
            storageBucket: "",
            messagingSenderId: "389883290078"
        };
        firebase.initializeApp(config);
    </script>-->

    <script src="main.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js', { scope: '/' })
                .then(function (registration) {
                    console.log('Service Worker Registered');
                });

            navigator.serviceWorker.ready.then(function (registration) {
                console.log('Service Worker Ready');
            });
        }
    </script>
</body>

</html>