<nav class="c-nav js-nav">
    <span class="c-nav__title">Travessias</span>
    <ul class="c-nav__list">
        <li>
            <a role="button" class="c-nav__link js-nav-link" data-target="">Barreiro - Terreiro do Paço</a>
        </li>
        <li>
            <a role="button" class="c-nav__link js-nav-link" data-target="montijo">Montijo - Cais do Sodré</a>
        </li>
        <li>
            <a role="button" class="c-nav__link js-nav-link" data-target="seixal">Seixal - Cais do Sodré</a>
        </li>
    </ul>
</nav>