<nav class="c-nav js-nav">
    <span class="c-nav__title">Travessias</span>
    <ul>
        <li>
            <a class="c-nav__link" href="./">Barreiro - Terreiro do Paço</a>
        </li>
        <li>
            <a class="c-nav__link" href="./seixal.html">Seixal - Cais do Sodré</a>
        </li>
    </ul>
</nav>