<nav class="c-nav">
    <span class="c-nav__title">Viagens</span>
    <ul>
        <li>
            <a class="c-nav__link" href="./">Barreiro</a>
        </li>
        <li>
            <a class="c-nav__link" href="./seixal.html">Seixal</a>
        </li>
    </ul>
</nav>