// Variables
:root {
    --color-main-100: #f3fbff;
    --color-main-300: #42A5F5;
    //--color-main-500: #2196F3; does not passes on contrast test
    --color-main-500: #0077CC;

    --color-grey-200: #eee;
    --color-grey-300: #CCC;
    --color-grey-500: #747474;

    --color-secondary-500: #ff5722;
}