.c-icon {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}
.c-icon--xl {
    width: 3rem;
    height: 3rem;

    &.is-loading {
        animation: loading 2s ease-in-out infinite;
    }
}