.c-nav {
    position: fixed;
    top: var(--header-height);
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: var(--gap);
    background-color: #FFF;
    box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.1);
    transform: translate(100%);
    transition: transform .5s;

    &.is-open {
        transform: translate(0%);
    }
}
.c-nav__list {
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid var(--color-grey-300);
}
.c-nav__title {
    display: block;
    margin-bottom: var(--gap-sm);
    color: var(--color-grey-500);
    font-size: 1.3rem;
}
.c-nav__link {
    display: block;
    margin: 0 calc(var(--gap) * -1);
    padding: var(--gap-sm) var(--gap);
    color: #000;
    transition: background-color .2s;
    .is-active {
        background-color: var(--color-main-300);
    }
}