.c-schedule {
    padding: 0 var(--gap);
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
    > li {
        padding: var(--gap-xs) var(--gap);
    }
    .is-next {
        padding: 0;
        > span {
            display: inline-block;
            padding: var(--gap-xs) var(--gap);
            border: 2px solid var(--color-main-500);
            background-color: var(--color-main-100);
            color: var(--color-main-500);
        }
        /* + li {
            color: red;
        } */
    }
}