.c-time {
    display: flex;
    align-items: center;
    //justify-content: center;
    //padding-left: var(--gap-xs);
    fill: var(--color-grey-300);
    font-size: 3rem;
    font-weight: 500;
    line-height: 2.8rem;
    > * + * {
        padding-left: var(--gap-xs);
    }
}