<div id="homePage" class="o-page is-active" aria-hidden="false">

    <link rel="stylesheet" href="css/components.head.css" />
    <header class="c-header">
        <h1 class="c-heading-1">Horários Tejo</h1>
        {% include 'html/includes/hamburger.njk' %}
    </header>
    
    <link rel="stylesheet" href="css/components.body.css" />
    <main class="o-main">
        {%- for itinerary in itineraries -%}
            <button type="button" class="c-card js-goto-schedule" data-way="{{itinerary.way}}">
                <div class="o-row c-itinerary">
                    <span>{{itinerary.departure}}</span>
                    <div class="o-row__wide">
                        <span class="c-itinerary__arrow"></span>
                    </div>
                    <span>{{itinerary.arrival}}</span>
                </div>
                <div class="o-row o-row--middle">
                    <div class="o-row__wide c-time">
                        <svg viewBox="0 0 32 32" class="c-icon--xl">
                            <path d="M 16 4 C 9.382813 4 4 9.382813 4 16 C 4 22.617188 9.382813 28 16 28 C 22.617188 28 28 22.617188 28 16 C 28 9.382813 22.617188 4 16 4 Z M 16 6 C 21.535156 6 26 10.464844 26 16 C 26 21.535156 21.535156 26 16 26 C 10.464844 26 6 21.535156 6 16 C 6 10.464844 10.464844 6 16 6 Z M 15 8 L 15 17 L 22 17 L 22 15 L 17 15 L 17 8 Z "></path>
                        </svg>
                        <span class="js-next-time"></span>
                    </div>
                    <div>
                        <span class="c-button is-waiting">Ver Horários</span>
                    </div>
                </div>
            </button>
        {%- endfor -%}
    </main>
</div>