.o-row {
    display: flex;
    padding-right: var(--gap);
    padding-left: var(--gap);
    > * + * {
        padding-left: var(--gap);
    }
}
/* .o-row--grouped {
    padding-right: var(--gap-sm);
    padding-left: var(--gap-sm);
    > * + * {
        padding-left: var(--gap-sm);
    }
} */
.o-row--middle {
    align-items: center;
}

.o-row__wide {
    flex: 1;
}